@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(243 244 246);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(209 213 219);
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(156 163 175);
  }

  html.dark ::-webkit-scrollbar-track {
    background-color: rgb(17 24 39);
  }

  html.dark ::-webkit-scrollbar-thumb {
    background-color: rgb(55 65 81);
  }

  html.dark ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(75 85 99);
  }

  html.dark {
    background-color: rgb(17 24 39);
  }

  html.dark body {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
  }

  .dark button:not([class*="bg-"]) {
    color: rgb(229 231 235);
  }

  .dark input:not([class*="bg-"]),
  .dark textarea:not([class*="bg-"]),
  .dark select:not([class*="bg-"]) {
    background-color: rgb(31 41 55);
    color: rgb(243 244 246);
    border-color: rgb(75 85 99);
  }

  .dark input:not([class*="bg-"])::placeholder,
  .dark textarea:not([class*="bg-"])::placeholder,
  .dark select:not([class*="bg-"])::placeholder {
    color: rgb(107 114 128);
  }

  .dark input:focus,
  .dark textarea:focus,
  .dark select:focus {
    border-color: rgb(168 85 247);
    --tw-ring-color: rgb(168 85 247 / 0.5);
  }
}


